@charset "utf-8";
/* 머리말의 너비, 높이 설정 */
.login_header {
	height: 120px;
	width: 920px;
}
/* 머리말에 있는 로고의 상자 위치 설정 */
.logo_locate {
	padding-top: 30px;
	padding-left: 620px;
	margin-left: 0px;
}
/* section부분의 문자 서식, 상자의 높이, 너비 설정 */
.login_box {
	font-family: "맑은 고딕", "돋움체";
	height: 570px;
	width: 920px;
	font-size: 15px;
}
/* 로그인 박스의 위치, 너비, 높이 설정 */
.login_box_loacte {
	height: 540px;
	width: 310px;
	margin-left: 610px;
	padding-top: 30px;
}
/* login, signup과 signup2 부분의 위치 설정, 문자 서식 설정 */
.footer_bottom02 {
	margin: 0px;
	height: 10px;
	width: 270px;
	padding-left: 650px;
	font-size: 10px;
}
