@charset "utf-8";
/* 웹사이트의 전체 서식 설정 */
.main_info_box {
	font-family: "맑은 고딕", "돋움체";
	margin-top: 33px;
	width: 220px;
	margin-left: 180px;
	margin-bottom: 20px;
}
/* header부분의 상자 설정 */
#center_top {
	height: 130px;
	width: 1150px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/* header 영역을 기준으로 이미지가 왼쪽 위에 정렬되므로, 이미지 태그 스타일을 이용해 여백 조정 */
#center_top img {
	margin-top: 46px;
}
/* 네비게이션 상자 만들기, 문자 속성 설정, 내용에 따라 자동으로 크기 달라지도록 float:right을 사용 */
.main_nav {
	font-family: "맑은 고딕", "돋움체";
	font-size: 15px;
	padding: 0px;
	float: right;
	margin-top: 75px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 840px;
}
/* margin 항목을 0으로 설정하여 네비게이션의 내용의 행간을 없애기 */
#center_top .nav_top .main_nav ul {
	margin: 0px;
}
/* padding으로 메뉴 양쪽에 여백 만들기, display:block으로 상위 요소의 너비와 높이에 맞춰 가득 차도록 구성, list-style-type으로 비순차 목록 기호 없애기 */
#center_top .nav_top .main_nav ul li {
	display: block;
	margin: 0px;
	float: right;
	width: auto;
	padding-right: 25px;
	padding-left: 25px;
	list-style-type: none;
}
/* 왼쪽 상단의 로고 배치 */
.top_logo {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 130px;
	width: 300px;
}
/* 네비게이션 박스 */
.nav_top {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 130px;
	width: 840px;
}
/* section부분의 서식 설정 */
.main_center {
	font-family: "맑은 고딕", "돋움체";
	height: 1200px;
	width: 1510px;
}
/* footer영역 서식 설정, width:100%로 웹브라우저 전체 폭에 맞춤 */
footer {
	background-color: #606060;
	margin: 0px;
	padding-top: 10px;
	height: 210px;
	width: 100%;
}
/* footer부분의 문자내용 배치, 서식 설정 */
.footer_box_left {
	float: left;
	height: 200px;
	width: 400px;
	margin-left: 100px;
	padding-bottom: 5px;
	font-family: "맑은 고딕", "돋움체";
	font-size: 14px;
}
